#logo{
    margin: 2rem;
    margin-left: 2rem;
    padding-left: 2rem;
}

.navbar-content{
    padding-left: 1rem;
   width: 30rem;
   height: 3rem;
    border-radius: 1rem;
    border: 1px solid rgb(220, 217, 217);
    text-align: center;
}


.card {
    padding: 3rem;
    text-align: left;
    
  }
  
  .row-one {
    display: flex;
    flex-direction: row;
  }
  
  .row-two{
        display: flex;
        flex-direction: row;
  }

.image{
    border-radius: 1rem;
    }

.hr{
    border: 1px solid rgb(233, 231, 231);
}